// Quasar Sass (& SCSS) Variables
// --------------------------------------------------

$primary: #0d9488;
$secondary: #0284c7;
$accent: #6366f1;

$dark: #0f172a;
$dark-page: #090d16;

$positive: #10b981;
$negative: #ef4444;
$info: #3b82f6;
$warning: #f59e0b;
